@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
height: 100vh;
width: 100vw;
/* background-image: url(Frame\ 186.png); */
overflow: hidden;
font-family: 'Plus Jakarta Sans', sans-serif;
color: #fff;
background: #0f0f0f;
}


.text{
    /* position: absolute; */
    bottom: 0;
    right: 6vw;

}

.bigContainer{
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
h1{
    font-weight: 500;
    margin-bottom: 0.5em;
}

a{
    text-decoration: none;
   color: #000;

}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3em;
    overflow: hidden;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
}

.nav{
    position: fixed;
    width: 100vw;
    padding: 4em 6em;
    /* padding-bottom: 5em; */
    display: flex;
    justify-content: space-between;

    
}
.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 2em;

}

.items{
    position: absolute;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    mix-blend-mode: difference;

}

.item{
    display: flex;
    padding: 0.25vw 0.5vw;
    cursor: pointer;
    /* opacity: 0; */
}
.item-index{
    flex: 1;
}

.item-name{
    flex: 4;
}
.item-year{
    flex: 1;
}
.overlay{
    position: absolute;
    bottom: -1200px;
    right: 0;
    width: 70%;
    height: 90vh;
    padding: 6vw 4vw;
   
    background: #fff;
    color: #000;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
    will-change: bottom;
    transform:translateZ(0) rotate(20deg);
    transform-origin: bottom center;
  /* top: 10%; */
}

.overlay::-webkit-scrollbar{
    display: none;
}
.img-container{
    width: 100%;
    padding-bottom: 2em;

}

img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.overlay-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 0;
    padding-top: 0em;
}
.col:nth-child(1){
    flex: 3;
}
.col:nth-child(2){
    flex: 2;
}
#close-btn{
    cursor: pointer;
    opacity: .8;
    border: 1px solid #3f3b3b;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}
#close-btn p{
    padding: 0px;
    width: fit-content;
}

.items-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0 4em 0;
}
.items-details p:nth-child(1){
    flex: 3;
}
.items-details p:nth-child(2){
    flex: 2;
}

.loading-screen{
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #000;
    color: #fff;
}

.counter{
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: flex;
    height: 100px;
    font-size: 100px;
    line-height: 102px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
    font-weight: 500;
}
.counter-1,
.counter-2,
.counter-3
{
  position: relative;
  top: -15px;
  
}
.num1offset1{
    position: relative;
    right: -25px;
       
}
.num1offset2{
    position: relative;
    right: -10px;
       
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgb(80, 80, 80);
}
.loader-1{
    position: relative;
    width: 200px;
    background: #fff;
   
}

.loader-2{
    position: relative;
    width: 100px;
    background: #fff;
}

.bigContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}



@media (max-width: 900px){


    .bigContainer{
        height: 100vh;
        overflow: hidden;
    }
    .nav{
        width: 100vw;
        padding: 2em;
    }

    html,
    body{
        overflow: hidden;
        width: 100vw;
        /* height: 400px; */
    }

  
    .items {
        width: 100vw;
        bottom: 8em;
        filter: blur(0);
        padding: right 4em;
    }
    .item{
        padding-bottom: 2.5vw;
        filter: blur(0);
        font-weight: 600;
        font-size: 18px;


    }
    .overlay{
        width: 100vw;
        height: 100vh;
        /* right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute; */
        overflow-x: hidden;
    }


    .container{
        width: 100vw;
        max-height: 80vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 2em;
    }

    .items{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    

    .overlay img{
        height: 30vh;
    }

    .text{
 top: 50%;
 right: 50%;
 transform: translate(50%, -50%);
 /* height: 70vw; */
 width: 100;
 overflow: visible;
 z-index: 99;
 position: absolute;
}

}
